.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  @media screen and (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__accent {
  color: var(--main-text-color);
}
.logo__ft-accent {
  color: var(--section-text-color);
}
