.subscribe {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 93px;
    min-width: 582px;
    text-align: start;
    justify-content: space-between;
    // display: flex;
    align-items: flex-end;
  }
}
.subscribe__subscription {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.subscribe__subform-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--section-text-color);
}
.subscribe__form {
  display: inline-block;
  width: 358px;
  min-height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border-radius: 4px;
  outline-style: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.sign__button {
  text-align: end;
  margin-top: -70px;

  @media screen and (max-width: 1200px) {
    text-align: center;
    margin: 0 auto;
  }
}
.sign__icon-letter {
  margin-left: 10px;
}
.sign__footer-submit-button {
  display: inline-flex;
  align-items: center;
}
