.subscribe {
  // display: flex;
  // align-items: flex-end;
  // margin-left: 93px;
  // margin-right: 0;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 93px;
    text-align: start;
    // display: flex;
    // align-items: flex-end;
    // margin-left: 93px;
    // margin-right: 0;
  }

  // @media screen and (min-width: $pc-width) {

  // }
}
.subscribe__subscription {
  // display: flex;
  // // justify-content: space-between;
  // align-items: center;
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   // align-items: flex-end;
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe__subform-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--section-text-color);
}
.subscribe__form {
  display: inline-block;
  width: 358px;
  min-height: 50px;
  // margin-right: 12px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border-radius: 4px;
  outline-style: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.sign__button {
  display: flex;
  margin: 0 auto;
  // align-items: flex-end;
  width: 200px;
  @media screen and (min-width: 1200px) {
    // display: flex;
    align-items: flex-end;
    margin-left: 12px;
  }
}
.sign__icon-letter {
  margin-left: 10px;
}
.sign__footer-submit-button {
  display: inline-flex;
  align-items: center;
}
