.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--header-brd-line-color);
  background-color: var(--first-section-color);
  // @media (max-width: 768px) {
  //   // display: flex;
  //   // justify-content: space-between;
  //   height: 60px;
  // }
}

.link {
  position: relative;

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
}
.image {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
  height: auto;
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
// body.modal-open {
//   overflow: hidden;
// }
