.main-nav {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    max-height: 60px;
  }
}
.site-nav {
  position: relative;
  // display: flex;
  // margin-left: 93px;
  // .site-nav__list-item + .site-nav__list-item {
  //   margin-left: 50px;
  // }
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    bottom: -1px;
  }
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.site-nav__studio-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.site-nav__studio-page:hover {
  color: var(--accent-color);
  &::after {
    opacity: 1;
  }
}
.site-nav__second-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.site-nav__prtf-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.site-nav__contacts-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 68px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.site-nav__prtf-page:hover {
  color: var(--accent-color);
  &::after {
    opacity: 1;
  }
}
.site-nav__contacts-page:hover {
  color: var(--accent-color);
  &::after {
    opacity: 1;
  }
}
.menu-button-open,
.menu-button-close {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #000;
  outline: none;
  transition: color var(--animation-duration) var(--animation-function);
}
.menu-button-close {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-button-close {
    display: none;
  }
}
.menu-button-open:hover,
.menu-button-open:focus {
  color: var(--accent-color);
}
.menu-button-close:hover,
.menu-button-close:focus {
  color: var(--accent-color);
}
.icon-menu-open,
.icon-menu-close {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color var(--animation-duration) var(--animation-function);
}

// positioning to .header on the _common.scss
.menu-container {
  // display: none;
  @media screen and (max-width: 768px) {
    transform: translateX(100%);
    transition: transform var(--animation-duration) var(--animation-function);

    display: flex;
    justify-content: space-between;
    position: fixed;
    // height: 796px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px 15px;
    z-index: 1;
    background-color: var(--section-text-color);
    box-shadow: 0px 4px 8px #0000000a, 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.site-nav__list-item .site-nav__studio-page,
.site-nav__list-item .site-nav__second-page,
.site-nav__list-item .site-nav__contacts-page {
  @media screen and (max-width: 768px) {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    display: block;
    padding-top: 16px;
    padding-left: 25px;
    margin: 0;
    letter-spacing: 0.02em;
  }
}
// // @media screen and (min-width: 768px) {
// //   .site-nav__list-item:not(:last-child) {
// //     margin-right: 50px;
// //   }
// }
.navigation {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-right: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 314px;
  }
}
// .contact-thumb {
//   display: flex;

//   flex-direction: column;
// }
.menu-thumb {
  // @media screen and (max-width: 768px) {
  //   justify-content: space-between;
  // }
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    height: 100%;
    flex-direction: column;
    // height: ;
  }
}
.mobile-social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-social__item {
  & + &::before {
    content: "";
    border-right: 1px solid var(--line-link-color);
  }
}
.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 10px;
  text-decoration: none;
}
// .site-nav {
//   @media screen and (max-width: 768px) {
//     margin-bottom: 302px;
//   }
// }
