:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --section-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --shadow-color: rgba(31, 21, 21, 0.15);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --section-color: #2f303a;
  --first-section-color: #ffffff;
  --second-section-color: #f5f4fa;
  --ftr-cnt-color: rgba(255, 255, 255, 0.6);
  --ftr-link-color: rgba(255, 255, 255, 0.1);
  --header-brd-line-color: #ececec;
  --card-progects-gap: 30px;
  --svg-fill-color: #afb1b8;
  --card-bcg-color: rgba(33, 150, 243, 0.9);
  --animation-duration: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
